
#home {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid crimson;
}

#home .header h1 {
    justify-content: center;
    font-size: 3rem;
    font-weight: bolder;
}

#home .header p{
    margin: 10px 0px;
    font-size: 1rem;
}

#home .header button {
    width: 10rem;
    height: 2rem;
    margin-top: 2rem;
    margin-left: 5rem;
    padding: 4px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
}

/* .header {
    mix-blend-mode: multiply;
  }
   */
  .header video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }

@media (max-width: 791px) {
    #home .header h1 {
        font-size: 2rem;
    }
    #home .header p{
        font-size: .8rem;
    }
}

@media (max-width: 370px) {
    #home .header h1 {
        font-size: 1.6rem;
        padding-left: 10px;
    }
    #home .header p{
        font-size: .6rem;
        padding-left: 10px;
    }
}